<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                @* <span class="icon-bar"></span> *@
                @* <span class="icon-bar"></span> *@
            </button>
            @Html.ActionLink("Medical Corporation Hospital", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        

        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav ">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage Asserts (using ViewModel) <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Hospitals", "Hospitals", "Display")</li>
                        <li>@Html.ActionLink("Wards", "Wards", "Display")</li>
                        <li>@Html.ActionLink("Beds", "Beds", "Display")</li>
                        <li>@Html.ActionLink("Cities", "Cities", "Display")</li>

                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav ">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage Asserts (using Scaffolding) <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Hospitals", "Index", "Hospitals")</li>
                        @*<li>@Html.ActionLink("Wards", "Wards", "Display")</li>
                        <li>@Html.ActionLink("Beds", "Beds", "Display")</li>
                        <li>@Html.ActionLink("Cities", "Cities", "Display")</li>*@

                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav ">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Human Resources <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Doctors", "Doctors", "Display")</li>
                        <li>@Html.ActionLink("Patients", "Patients", "Display")</li>


                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Create Appointment", "Hospital", "Report")</li>
                        

                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Hospital ", "Hospital", "Report")</li>
                        <li>@Html.ActionLink("Patient ", "Patient", "Report")</li>
                        <li>@Html.ActionLink("Doctor ", "Doctor", "Report")</li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>