@model IEnumerable<Medical_Corporation_Hospital.Core.Domain.City>

@{
    ViewBag.Title = "Cities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cities</h2>
<button type="button" class="btn btn-primary">@Html.ActionLink("Add New City", "New", "Cities")</button>
<table class="table">
    <thead>
    <tr>

        <th>City Name</th>
        <th>Province </th>
        <th>Country</th>
        <th>No of Hospitals</th>
          

    </tr>
    </thead>
    <tbody>
    @foreach (var city in Model)
    {

        <tr>

            <td>@city.Name</td>
            <td>@city.Province</td>
            <td>@city.Country</td>
            <td>@city.Hospitals.Count</td>
            <td> <button type="submit"
                         class="btn btn-warning">
                @Html.ActionLink("Update", "Edit", "Cities", new{id= city.Id}, null)
            </button></td>
            
              

        </tr>

    }
    </tbody>
</table>


