@model IEnumerable<Medical_Corporation_Hospital.Core.Domain.Hospital>
@{
    ViewBag.Title = "myHospitals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <h2>Hospitals</h2>
        <p >@Html.ActionLink("Add New Hospital", "New", "Hospital" ,null, new{@class="btn btn-primary"})</p>
    </div>


<table class="table table-hover">
    <thead>
    <tr>

        <th >Name</th>
        <th >City</th>
        <th >Wards</th>
        <th >Doctors</th>
        <th >Patients</th>
        <th >Manage</th>


    </tr>
    </thead>
    <tbody>
    @foreach (var hospital in Model)
    {
        <tr>
            
            <td >@hospital.Name</td>
            <td >@hospital.City.Name</td>
            <td >@hospital.Wards.Count</td>
            <td >@hospital.Doctors.Count</td>
            <td >@hospital.Patients.Count</td>
            <td>

                <text>
                    @Html.ActionLink("Update", "Edit", "Hospital", new {id = hospital.Id}, new {@class = "btn btn-warning"})
                </text>
                <text>
                    @Html.ActionLink("Delete", "Remove", "Hospital", new {id = hospital.Id}, new {@class = "btn btn-danger", @onclick = "return confirm('Are sure wants to delete?');"})

                </text>
            </td>
            


        </tr>
    }
    </tbody>
</table>