@model IEnumerable<Medical_Corporation_Hospital.Core.Domain.Hospital>
@{
    ViewBag.Title = "myHospitals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hospitals</h2>
<table class="table">
<thead>
<tr>
    
    <th >Name</th>
    <th >City</th>
    <th >Wards</th>
    <th >Doctors</th>
    <th >Patients</th>


</tr>
</thead>
<tbody>
@foreach (var hospital in Model)
{
    
    <tr>
           
        <td >@hospital.Name</td>        
        <td >@hospital.City.Name</td> 
        <td >@hospital.Wards.Count</td> 
        <td >@hospital.Doctors.Count</td> 
        <td >@hospital.Patients.Count</td> 

        .

    </tr>

}
</tbody>
</table>
