@model IEnumerable<Medical_Corporation_Hospital.Core.Domain.Patient>

@{
    ViewBag.Title = "Patients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Patients</h2>

<p>@Html.ActionLink("Admit New Patient", "New", "Patients",null, new{@class="btn btn-primary"})</p>

<table class="table">
    <thead>
        <tr>

            <th>Full Name</th>
            <th>Admission Date</th>
            <th>Telephone</th>
            <th>Address</th>
            <th>Hospital</th>
            <th>Ward Name</th>
            <th>bed Number</th>
            <th>No of Doctors</th>
            <th>Manage</th>
            

        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model)
        {

            <tr>

                <td>@patient.FullName</td>
                <td>@patient.AdmissionTime</td>
                <td>@patient.Telephone</td>
                <td>@patient.Address</td>
                <td>@patient.Hospital.Name</td>
                <td>@patient.Ward.Name</td>
                <td>@patient.Bed.Number</td>
                <td>@patient.Doctors.Count</td>
                <td> 
                    <text>
                        @Html.ActionLink("Update", "Edit", "Patients", new {id = patient.Id}, new {@class = "btn btn-warning"})
                    </text>
                    <text class="btn btn-danger">Danger</text>
                </td>
                

            </tr>

        }
    </tbody>
</table>

