@model IEnumerable<Medical_Corporation_Hospital.Core.Domain.Ward>
@{
    ViewBag.Title = "Wards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wards</h2>
<button type="button" class="btn btn-primary">@Html.ActionLink("Add New Ward", "New", "Wards")</button>
<table class="table">
    <thead>
        <tr>

            <th>Ward Name</th>
            <th>Hospital Name</th>
            <th>No of Beds</th>
            <th>No of Patients</th>
          

        </tr>
    </thead>
    <tbody>
        @foreach (var ward in Model)
        {

            <tr>

                <td>@ward.Name</td>
                <td>@ward.Hospital.Name</td>
                <td>@ward.Beds.Count</td>
                <td>@ward.Patients.Count</td>
                <td> <button type="submit"
                             class="btn btn-warning">
                    @Html.ActionLink("Update", "Edit", "Wards", new{id= ward.Id}, null)
                </button></td>
              

            </tr>

        }
    </tbody>
</table>

