@model IEnumerable<Medical_Corporation_Hospital.Core.Domain.Ward>
@{
    ViewBag.Title = "Wards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wards</h2>
<p >@Html.ActionLink("Add New Ward", "New", "Wards", null, new{@class="btn btn-primary"})</p>
<table class="table">
    <thead>
        <tr>

            <th>Ward Name</th>
            <th>Hospital Name</th>
            <th>No of Beds</th>
            <th>No of Patients</th>
            <th> Manage</th>
          

        </tr>
    </thead>
    <tbody>
        @foreach (var ward in Model)
        {

            <tr>

                <td>@ward.Name</td>
                <td>@ward.Hospital.Name</td>
                <td>@ward.Beds.Count</td>
                <td>@ward.Patients.Count</td>
                <td> 
                    <text>
                        @Html.ActionLink("Update", "Edit", "Wards", new {id = ward.Id}, new {@class = "btn btn-warning"})
                    </text>
                    <text >
                        @Html.ActionLink("Delete", "Remove", "Wards", new {id = ward.Id}, new {@class = "btn btn-danger", @onclick = "return confirm('Are sure wants to delete?');"})

                    </text>
                </td>
              

            </tr>

        }
    </tbody>
</table>

