@model Medical_Corporation_Hospital.ViewModels.PatientViewModel

@{
    ViewBag.Title = "PatientForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Patient</h2>

@using (Html.BeginForm("Save", "Patients"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Patient.FullName)
        @Html.TextBoxFor(m => m.Patient.FullName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Patient.FullName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Patient.Address)
        @Html.TextBoxFor(m => m.Patient.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Patient.Address)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Patient.Telephone)
        @Html.TextBoxFor(m => m.Patient.Telephone, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Patient.Telephone)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Patient.AdmissionTime)
        @Html.TextBoxFor(m => m.Patient.AdmissionTime, new { @class = "form-control", @type = "date" })
        @Html.ValidationMessageFor(m => m.Patient.AdmissionTime)

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Patient.HospitalId)
        @Html.DropDownListFor(m => m.Patient.HospitalId,
            new SelectList(Model.Hospitals, "Id", "Name", "Select Hospital"),
            new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Patient.HospitalId)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Patient.WardId)
        @Html.DropDownListFor(m => m.Patient.WardId,
            new SelectList(Model.wards, "Id", "Name", "Select Ward"),
            new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Patient.WardId)

    </div>

   

    @Html.HiddenFor(m => m.Patient.Id)
   
    <button type="submit" class="btn btn-primary">Add Patient</button>



}


